.Header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  background-color: #ffffff;
}

header {
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
}

.logo {
  height: 50px; /* Adjust the size of the logo */
  width: auto;
  padding-left: 10%;
}
nav {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav li{
  display: inline;
  padding: 0 2rem;
}

nav ul {
  display: flex; /* Arrange links horizontally */
  justify-content: flex-end; /* Align links to the right */
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding-right: 10%;
  font-size: 18px ;
  font-weight:bolder;
  font-family: "Karla", serif;
  color: #333; /* Text color */
  font-weight: bold;
}

nav a {
  text-decoration: none; /* Remove underline */
}

nav a:hover {
  color:orange; /* Change color on hover */
}

.call-to-action {
  padding: 2rem;
  background-color: #494949;
}


h1 {
  font-size: 64px;
  color: #F4CE14;
  font-weight: bold;
}

.special h2 {
  font-size: 40px;
  color: #333333;
  font-weight: normal;
}
h2 {
  font-size: 40px;
  color: #EDEFEE;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  color: #333;
  font-weight: bolder;
}

h4 {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  color: #333;
  font-weight: bolder;
}

p {
  font-size: 16px;
  color: #EDEFEE;
  font-weight: normal;
  line-height: 1.5;
}

h6 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
}


button {
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight:bolder ;
  font-family: 'Karla' sans-serif;
  color: #333333;
  background-color: #F4CE14;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #e76f51;
}

button:hover {
  background-color: #0056b3;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  padding: 2rem;

}

.booking {
  display: grid;
  max-width: 300px;
  gap: 20px;
  margin: auto;
}


input, select {
  padding: 10px;
  font-size: 1rem;
}
